
/*ultima actualización 01072020 17:28*/

body
{
    background:linear-gradient(to bottom, #a3e67e 5%, #44c767 100%);    
}
#cabecera
{
display: inline-block;
background-color: rgba(208, 117, 220, 0.5);
margin: 20px;

}
h2
{
font-style: italic;
color: #207974;
}
p
{
 letter-spacing: 3px;
 text-align: :right;   
}
/* Los menu.button del 1 al 3 cuentan con display inline*/
.menu-button1
{
background-color: rgb(124, 124, 238);
color: #ffffff;
margin: 15px;
display: inline;
border-radius:10px;
border:1px solid #4e6096;
font-family:Arial;
font-style: italic;
	font-size:13    px;
	padding:12px 37px;
}

.menu-button2
{
background-color: rgb(131, 131, 216);
color: #ffffff;
margin: 15px;
display: inline;
font-style: italic;
border-radius:10px;
border:1px solid #4e6096;
font-family:Arial;
	font-size:13px;
	padding:12px 37px;
}

.menu-button3
{
background-color: rgb(190, 190, 229);
color: #ffffff;
margin: 15px;
display: inline;
font-style: italic;
border-radius:10px;
border:1px solid #4e6096;
font-family:Arial;
	font-size:13px;
	padding:12px 37px;
}

.menu-button4
{
background-color: rgb(91, 223, 233);
color: #ffffff;
padding: 20 px;
margin: 15px;
display: block;
border-radius:10px;
border:1px solid #4e6096;
font-family:Arial;
	font-size:13    px;
	padding:12px 37px;
}

.menu-button5
{
background-color: rgb(151, 235, 230);
color: #ffffff;
padding: 20 px;
margin: 15px;
display: block;
border-radius:10px;
border:1px solid #4e6096;
font-family:Arial;
	font-size:13px;
	padding:12px 37px;
}

.menu-button6
{
background-color: rgb(215, 232, 235);
color: #ffffff;
padding: 20 px;
margin: 15px;
display: block;
border-radius:10px;
border:1px solid #4e6096;
font-family:Arial;
	font-size:13px;
	padding:12px 37px;
}

.button_cont1
{
   width: 70%;
   text-align: :right;
  
}

.button_cont2
{
   width: 70%;
   text-align: :right;
   
      
}